:root {
  --bg: #0D0A0B;
  --text: #F3EFF5;
  --hover: #5AFF15;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  font-family: "VT323", monospace;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: var(--text);
}

nav a:hover {
  color: var(--hover);
}

