:root {
  --bg: #0D0A0B;
  --text: #F3EFF5;
  --hover: #5AFF15;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "VT323", monospace;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

img {
    width: 200px;
}
