:root {
  --bg: #0D0A0B;
  --text: #F3EFF5;
  --hover: #5AFF15;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "VT323", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 32px;
}

li {
    margin: 10px 0;
}

@media (max-width: 768px) {
    img {
        max-width: 150px;
    }

    ul {
        font-size: 24px;
    }
}
